{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}app{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700, 800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to app.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body data-spy="scroll" data-target=".navbar-example">

  <div id="cover">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 text-center col-sm-offset-1">
              <h1>Conectando al inversionista con las oportunidades</h1>
              <a href="" class="btn btn-default btn-join btn-large">Obtén una invitación</a>

              <div>
                <a id="button"><img src="{% static 'img/arrow.png' %}"></a>
              </div>

            </div>

            <div class="col-sm-1">
                <div class="menu navbar-example" data-spy="affix" >
                  <ul class="text-right nav">
                    <li><a id="first"  href="#cover" class="btn-white"><i class="fa fa-circle"></i></a></li>
                    <li><a id="second" href="#about"><i class="fa fa-circle"></i></a></li>
                  </ul>
                </div>
            </div>

       </div>
    </div>
  </div> <!-- /cover -->



  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 text-center col-sm-offset-1">
          <h1>Sé un Ángel</h1>
          <p>El propósito de <b id="bold">inversionangel.do</b> es dar a conocer la inversión ángel como una alternativa viable para crear riqueza y capital social. En República Dominicana la inversión angel no es muy practicada de manera profesional, pero esta actividad es parte elemental de la creación y avance de nuevas industrias además de los beneficios colaterales que provee.
          </p>

        </div>
      </div>
    </div>
  </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
