{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}app{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300, 400, 700, 800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,900' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to app.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body data-spy="scroll" data-target=".navbar-example">

  <div id="cover">
    <div class="container">
        <div class="row">
            <div class="col-sm-10 text-center col-sm-offset-1">
              <h1>Conectando al inversionista con las oportunidades</h1>
              <a href="" class="btn btn-default btn-join btn-large">Obtén una invitación</a>

              <div>
                <a id="button"><img src="{% static 'img/arrow.png' %}"></a>
              </div>

            </div>

            <div class="col-sm-1">
                <div class="menu navbar-example" data-spy="affix" >
                  <ul class="text-center nav">
                    <li><a id="first"  href="#cover" class=""><i class="fa fa-circle"></i></a></li>
                    <li><a id="second" href="#about"><i class="fa fa-circle"></i></a></li>
                    <li><a id="third" href="#speaker"><i class="fa fa-circle"></i></a></li>
                    <li><a id="fourth" href="#venue"><i class="fa fa-circle"></i></a></li>
                  </ul>
                </div>
            </div>

       </div>
    </div>
  </div> <!-- /cover -->



  <div id="about">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 text-center col-sm-offset-1">
          <h1>Sé un Ángel</h1>
          <p>El propósito de <b id="bold">inversionangel.do</b> es dar a conocer la inversión ángel como una alternativa viable para crear riqueza y capital social. En República Dominicana la inversión angel no es muy practicada de manera profesional, pero esta actividad es parte elemental de la creación y avance de nuevas industrias además de los beneficios colaterales que provee.
          </p>

        </div>
      </div>
    </div>
  </div>

  <div id="speaker">
    <div class="container">
      <div class="row">
      <div class="col-sm-11">
        <h1 class="text-center">Charlista Invitado</h1>
      </div>
        <div class="col-sm-3">
          <img src="http://www.cens.io/wp-content/uploads/2014/07/jon.png" class="img-circle center-block">
          <h3 class="text-center">Jon Mcneill</h3>
        </div>
        <div class="col-sm-8 text-center">
          <p class="description">Jon es un emprendedor habiendo creado 9 compañías en el sector seguros. Ha sido mentor de una buena cantidad de Startups e inversionista en múltiple de ellas incluida entre estas últimas Stance Data en Dominicana y Censio en Estados Unidos. Jon fundó Sterling Collision Centers en 1997, llevando la compañía a más de 60 tiendas a nivel nacional con ventas en más de 400 millones de dolares al año. Actualmente desempeña la posicion de CEO de Enservio, una de las compañías de mayor crecimiento en el área de Boston.
        </div>
      </div>
    </div>
  </div>

  <div id="venue">
    <div class="container">
      <div class="row">
        <div class="col-sm-10 text-center col-sm-offset-1">
          <h1>Evento</h1>
          <p>3 de Diciembre, 2014</p>
          <p>Cámara de Comercio y Producción</p>
          <div class="mapi">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3784.335946319632!2d-69.92382599999998!3d18.468435999999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eaf89dbe089b5e9%3A0xbc6e1e8517724f7!2sC%C3%A1mara+de+Comercio+y+Producci%C3%B3n+de+Santo+Domingo!5e0!3m2!1ses!2s!4v1414535519461" width="900" height="350" frameborder="0" style="border:1px solid #999;"></iframe>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <p class="text-right">Desarrollado por <a href="http://stancedata.com">Stance Data</a></p>
        </div>
      </div>
    </div>
  </div>

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
