{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{% block title %}app{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- This file store project specific CSS -->
    <link href="{% static 'css/app.css' %}" rel="stylesheet">

    <!-- Use this to quickly test CSS changes in a template,
        then move to app.css -->
    {% block extra_css %}{% endblock extra_css %}
  </head>

  <body>

  <div class="cover" style="background-image: url('{% static 'img/cover.jpg' %}');">
      <div class="container">

        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
              <h1>Conectando al inversionista con las oportunidades</h1>
              <a href="" class="btn btn-default btn-join btn-large">Únete</a>
            </div>
       </div>
      </div>

  </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

    <!-- place project specific Javascript in this file -->
    <script src="{% static 'js/app.js' %}"></script>

    {% block extra_js %}{% endblock extra_js %}
  </body>
</html>
